/* Container holding the image and the text */
#quotes {
	position: relative;
	text-align: center;
	color: white;
}

/* Centered text */
.centered {
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-40%, -45%);
	font-size: 25px;
	line-height: 32px;
}

.jmg-header {
	position: absolute;
	top: 10%;
	left: 40%;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.quote {
	font-size: 1em;
	line-height: 1.25em;
}

.author {
	font-size: 1em;
}

svg {
	padding: 10px;
	width: 60px;
	height: 80px;
}


/*button {

}*/


.jmg-arrow {
	-webkit-appearance: none;
	background: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -45px;
	margin-left: -35px;
	width: 70px;
	height: 90px;
}

.jmg-right {
	left: 85%;
}

.jmg-left {
	left: 15%;
}

#lacrosse {
	height: 40px;
	width: 40px;
	position: relative;
	top: 15px;
}

#education {
	width: 34em;
	padding-top: 3em;
	font-size: 0.9em;
}


@media screen and (max-width: 500px) {
	
	.quote {
		font-size: 6.5px;
		font-weight: bold;
	}

	.author {
		font-size: 6.5px;
		font-weight: bold;
	}

	.jmg-header {
		font-size: 0.75em;
	}

	svg {
		width: 30px;
		height: 40px;
	}

	#five {
		font-size: 0.5em;
		line-height: 1.25em;
	}

	#six {
		font-size: 0.5em;
		line-height: 1.25em;
	}

	#lacrosse {
		height: 20px;
		width: 20px;
		position: relative;
		top: 7.5px;
	}
}